<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="signinup.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
  </head>
  <body ng-app = "myApp" ng-controller='MyCtrl'>
      <div class="form">
          <div class="tab-header">
              <div ng-class="{'active': tabName=='tab1'}" ng-click="tabName='tab1'">SIGN IN</div>
              <div ng-class="{'active': tabName=='tab2'}" ng-click="tabName='tab2'">SIGN UP</div>
          </div>
          <div class="tab-content" ng-switch="tabName">
            <div ng-switch-when="tab1">
                <div class="tab-body">
                    <div class="form-element">
                        <input type="email" placeholder="Email">
                    </div>
                    <div class="form-element">
                      <input type="password" placeholder="Password">
                    </div>
                    
                    <div class="form-element">
                      <!-- add function to controller here -->
                      <button>Sign In</button>
                    </div>
                    <div class="form-element">
                        <div class="grid-container">
                          <div class="grid-item">
                              <input type="checkbox" id="rememberbox">
                              <label for="rememberbox">Remember me</label>
                          </div>
                          <div class="grid-item">
                              <a href="/recover_password">Forget Password?</a>
                          </div>
                      </div>  
                    </div>
                </div>
            </div>

            <div ng-switch-when="tab2">
              <div class="tab-body">
                  <div class="form-element">
                    <input type="text" placeholder="Name">
                  </div>
                  <div class="form-element">
                    <input type="email" placeholder="Email">
                  </div>
                  <div class="form-element">
                    <input type="text" placeholder="Country">
                  </div>
                  <div class="form-element">
                    <input type="tel" placeholder="Phone">
                  </div>
                  <div class="form-element">
                   <input type="password" placeholder="Password">
                  </div>
                  <div class="form-element">
                   <input type="checkbox" id="argeementbox">
                   <label for="argeementbox">Agree with <a href="/terms_conditions">terms and conditions</a></label>
                  </div>
                  <div class="form-element">
                    <!-- add function to controller here -->
                    <button>Sign Up</button>
                   </div>
                  <div class="form-element" id="alreadyacc">
                   Already have an account? <a href="/sign_in">Sign In</a>
                  </div>
              </div>
            </div>
                </div>
              </div>
          </div>
      </div>

      <!-- <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script> -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular-route.min.js"></script>
      <script src="signinup.js"></script>
  </body>
</html>