<!-- this segment is added by Shawon -->
<link rel="stylesheet" href="signinup.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">

<div class="form" ng-controller='tabCtrl'>
<div class="tab-header">
    <div ng-class="{'active': tabName=='tab1'}" ng-click="tabName='tab1'">SIGN IN</div>
    <div ng-class="{'active': tabName=='tab2'}" ng-click="tabName='tab2'">SIGN UP</div>
</div>

<div class="tab-content" ng-switch="tabName">
  <div ng-switch-when="tab1">
    <span class = "wel">
      <h1>WELCOME</h1>
      <p>. . . . . . . . . . . . . . . . . . . . </p>
      <p id="welnote">this is a simple sign in sign up page which will lead to mssql database</p>
    
    </span>
      <div class="tab-body" ng-controller='loginCtrl'>
          <div class="form-element" >
              <input type="email" ng-model = "username" placeholder="Email">
          </div>
          <div class="form-element">
            <input type="password" ng-model = "password" placeholder="Password">
          </div>
          <div class="form-element">
            <!-- add function to controller here -->
            <!-- this segment is added by Shawon -->
            <button ng-click ="submit()"> Sign In</button>

          </div>
          <div class="form-element">
              <div class="grid-container">
                <div class="grid-item">
                    <input type="checkbox" id="rememberbox">
                    <label for="rememberbox">Remember me</label>
                </div>
                <div class="grid-item">
                    <a href="/recover_password">Forget Password?</a>
                </div>
            </div>  
          </div>
      </div>
  </div>

  <div ng-switch-when="tab2">
    <div class="tab-body" ng-controller='loginCtrl'>
        <div class="form-element">
          <input type="text" ng-model = "name" placeholder="Name">
        </div>
        <div class="form-element">
          <input type="email" ng-model = "email" placeholder="Email">
        </div>
        <div class="form-element">
          <input type="text" ng-model = "country" placeholder="Country">
        </div>
        <div class="form-element">
          <input type="tel" ng-model = "phone" placeholder="Phone">
        </div>
        <div class="form-element">
          <input type="password" ng-model = "password" placeholder="Password">
        </div>
        <div class="form-element">
          <input type="checkbox" id="argeementbox">
          <label for="argeementbox">Agree with <a href="/terms_conditions">terms and conditions</a></label>
        </div>
        <div class="form-element">
          <!-- add function to controller here -->
          <!-- this segment is added by Shawon -->
          <button ng-click ="register()">Sign Up</button>
        </div>
        <div class="form-element" id="alreadyacc">
          Already have an account? 
          <!-- <a href="/sign_in" ng-click="tabName='tab1'">Sign In</a> -->
          <!-- this segment is added by Shawon -->
          <a href="signin-signup.html">Sign In</a>
          <!-- works same -->
          <!-- <a href="/signin-signup.html">Sign In</a> -->
        </div>
    </div>
  </div>
      </div>
    </div>
</div>

   